html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
#header {
	display: flex;
}
#login {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 80%;
	flex-direction: column;
}
#logo {
	height: 50px;
}
#search {
	width: 50%;
	margin: 10px;
}
#title {
	animation: rainbow 1s infinite;
	font-size: 80px;
    font-family: 'Bree Serif', serif;
    margin-bottom: 0px;
    transition-duration: 500ms;
    cursor: pointer;
}
#title:hover {
	transform: scale(80) rotate(720deg);
}
.button {
	width: 300px;
	margin: 1%;
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	cursor: pointer;
	transition-duration: 500ms;
	border: 0px;
}
#subtitle {
	font-family: 'Bree Serif', serif;
}
.button:hover {
	transform: rotate(360deg);
	animation: rainbow 1s infinite;
}
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}